# Setting the default behavior for all files:
* text=auto eol=lf
# Ignored stuff:
# 1) Compiled object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf
*.bin
# 2) Precompiled headers
*.gch
*.pch
# 3) Compiled dynamic libraries
*.so
*.dylib
*.dll
# 4) Compiled static libraries
*.lai
*.la
*.a
*.lib
# 5) Executables
*.i*86
*.x86_64
*.hex
*.app
*.stackdump
*.exe
*.out
# 6) Linker output
*.ilk
*.map
*.exp
# 7) Debug files
*.dSYM/
*.su
*.idb
*.pdb
# 8) VSC
.vscode
*.code-workspace
.history
# 9) User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
# 10) Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
# 11) Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.meta
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# 12) Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
# 13) Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
# 14) Visual Studio trace files
*.e2e
# 15) Mac
.DS_Store